<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <link rel="stylesheet" href="../static/css/outlines.css" th:href="@{/css/outlines.css}">
    <link rel="icon" type="image/x-icon" href="../static/images/logo.svg" th:href="@{/images/logo.svg}">
    <script src="../static/js/pageLoad.js" th:src="@{/js/pageLoad.js}"></script>
    <script src="https://kit.fontawesome.com/a272bdb78e.js"
            integrity="sha384-hidaCcBnwKsxi1qwsvs+IAxqSX8y3PGrkuq9ko9rMu7JHwdjBuyjcViD97sLuMZV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/notifications/style.css" th:href="@{/notifications/style.css}">
    <script src="/static/notifications/index.var.js" th:src="@{/notifications/index.var.js}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"
            integrity="sha384-GRlu9ii0SmxGNGbuJnqg/hGSKeKquZd2k0hngjNIZZ/mytfge37xWQst9AajdKZL"
            crossorigin="anonymous"></script>
    <script src="/static/js/notifications.js" th:src="@{/js/notifications.js}"></script>
    <title>Плейлисты - SoundStats</title>
</head>
<body class="page page_header_fixed">

<header th:replace="~{fragments/header :: header}"></header>

<main class="main">
    <div class="main__inner">
        <div class="page-desc">
            <h1 class="page-desc__header">
                Создание плейлистов
            </h1>
            <div class="page-desc__text">
                На данной странице вы сможете генерировать новые плейлисты на основе как уже знакомым вам трекам, так и еще
                не прослушанным используя самые разные алгоритмы
            </div>
        </div>
        <article class="flex-list">
            <h2 class="flex-list__header">Стандартные алгоритмы</h2>
            <section class="flex-list__item generator">
                <h3 class="generator__header">
                    Персональные рекомендации Spotify
                </h3>
                <p class="generator__info">
                    Базовые рекомендации от алгоритмов Spotify на основе 50 Ваших наиболее прослушиваемых треков за
                    последние 6 месяцев
                </p>
                <form class="generator__form" th:action="@{/api/playlists/create}" th:method="post">
                    <button type='submit' th:value="personal" th:name="method" class="generator__button button button_primary">
                        <span class="button__text">Создать</span>
                    </button>
                </form>
            </section>
            <section class="flex-list__item generator">
                <h3 class="generator__header">
                    Рекомендации на основе самых популярных треков
                </h3>
                <p class="generator__info">
                    Название говорит само за себя - позволяет создавать плейлист на основе самых популярных треков в мире, используя алгоритмы
                    Spotify
                </p>
                <form class="generator__form" th:action="@{/api/playlists/create}" th:method="post">
                    <button type='submit' th:value="world" th:name="method" class="generator__button button button_primary">
                        <span class="button__text">Создать</span>
                    </button>
                </form>
            </section>
            <section class="flex-list__item generator">
                <h3 class="generator__header">
                    Рекомендации по любимым исполнителям
                </h3>
                <p class="generator__info">
                    Позволяет создавать плейлисты с рекомендациями по Вашим любимым исполнителям. Использует алгоритмы Spotify
                </p>
                <form class="generator__form" th:action="@{/api/playlists/create}" th:method="post">
                    <button type='submit' th:value="artists" th:name="method" class="generator__button button button_primary">
                        <span class="button__text">Создать</span>
                    </button>
                </form>
            </section>
            <h2 class="flex-list__header">Тестовые алгоритмы</h2>
            <section class="flex-list__item generator">
                <h3 class="generator__header">
                    Smartify (Old) Lite
                </h3>
                <p class="generator__info">
                    Облегченная первая версии одного из (субъективно) лучших алгоритмов для создания плейлистов от ув.
                    <a href="https://4pda.to/forum/index.php?showuser=62879" class="link">Bedmit</a>
                    с форума <a href="https://4pda.to/forum/index.php?showtopic=715234&st=12120#entry85544903" class="link">4PDA</a>.
                    В отличие от оригинала, не ведет статистику
                    прослушанных треков, что несколько снижает точность. Тем не менее, это значительно повышает стабильность, а
                    алгоритм все так же отлично подбирает треки
                </p>
                <p class="generator__status">TBD</p>
                <form class="generator__form" target="dummy">
                    <button type='button' class="generator__button button button_primary" disabled>
                        <span class="button__text">Создать</span>
                    </button>
                </form>
            </section>
            <section class="flex-list__item generator">
                <h3 class="generator__header">
                    EveryDayMix Lite
                </h3>
                <p class="generator__info">
                    Еще один замечательный алгоритм с <a href="https://4pda.to/forum/index.php?showtopic=715234&st=13460#entry105650572" class="link">4PDA</a>
                    от ув. <a href="https://4pda.to/forum/index.php?showuser=2412115" class="link">IceTan</a>. Также не
                    позволяет вести историю прослушиваний из-за особенностей API, что в теории может отразиться на точности, но убирает
                    вызываемые этим сбои в работе
                </p>
                <p class="generator__status">TBD</p>
                <form class="generator__form" target="dummy">
                    <button type='button' class="generator__button button button_primary" disabled>
                        <span class="button__text">Создать</span>
                    </button>
                </form>
            </section>
        </article>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>